
.sectionHeader {
  margin-bottom: 20px; 
}
.sectionTitle {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  text-align: center;
 

}

.guideItem {
  border: 1px solid #757171;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px;

}

.guideHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 5px;
 
}

.guideTitle {
  font-size: 1.5rem;
  font-weight: 450;
  font-family: 'Inter', sans-serif;

}

.iconOpen {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.iconClosed {
  transition: transform 0.3s ease;
}

.guideDescription {
  padding: 10px;
  background-color: #dad6d6;
  border-radius: 8px;
  margin-top: 10px;
}

.descriptionLine {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
}

.subheading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #100e0e;
  margin: 10px 0;
  font-family: 'Inter', sans-serif;
}

.bulletPoint {
  font-size: 1.5rem;
  margin-left: 20px;
  list-style-type: disc;
}

.featureMechanics {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
