.footer {
    background-color: #043873;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 140px 32px 32px;
  }
  
  @media (max-width: 991px) {
    .footer {
      padding: 100px 20px 0;
    }
  }
  
  .content {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  @media (max-width: 991px) {
    .content {
      max-width: 100%;
    }
  }
  
  .info {
    z-index: 0;
    display: flex;
    max-width: 100%;
    width: 1480px;
    align-items: flex-start;
    gap: 40px 100px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .logoDescription {
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    justify-content: flex-start;
    width: 240px;
  }
  
  .logo {
    display: flex;
    width: 191px;
    max-width: 100%;
    gap: 10px;
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
  }
  
  @media (max-width: 991px) {
    .logo {
      white-space: initial;
    }
  }
  
  .logoImage {
    aspect-ratio: 1.28;
    object-fit: contain;
    object-position: center;
    width: 37px;
    margin: auto 0;
  }
  
  .logoText {
    flex-grow: 1;
    width: 137px;
  }
  
  .description {
    color: #f7f7ee;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.36px;
    margin-top: 15px;
  }
  
  .infoSection {
    display: flex;
    flex-direction: column;
    color: #fff;
    letter-spacing: -0.32px;
    justify-content: flex-start;
    width: 177px;
    font: 400 16px/1 Inter, sans-serif;
  }
  
  .sectionTitle {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.36px;
  }
  
  .sectionItem {
    margin-top: 15px;
  }
  
  .sectionItem:first-of-type {
    color: #ffe492;
  }
  
  .tryBtn {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: flex-start;
    width: 259px;
  }
  
  .tryTitle {
    color: #fff;
    letter-spacing: -0.56px;
    font: 700 28px/1 Inter, sans-serif;
  }
  
  .tryDescription {
    color: #fff;
    letter-spacing: -0.32px;
    margin-top: 23px;
    font: 400 16px/20px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .btnTry {
    border-radius: 8px;
    background-color: #4f9cf9;
    align-self: flex-start;
    display: flex;
    margin-top: 23px;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 991px) {
    .btnTry {
      padding: 20px;
    }
  }
  
  .btnText {
    color: #fff;
    letter-spacing: -0.32px;
    align-self: stretch;
    margin: auto 0;
    font: 400 16px/1 Inter, sans-serif;
  }
  
  .btnIcon {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    gap: 4px;
    justify-content: flex-start;
    width: 14px;
    margin: auto 0;
  }
  
  .btnImage {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 14px;
  }
  
  .bottomSection {
    align-self: stretch;
    z-index: 0;
    display: flex;
    margin-top: 100px;
    width: 100%;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .bottomSection {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .termsAndCondition {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    align-items: center;
    gap: 40px 60px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .termsAndCondition {
      max-width: 100%;
    }
  }
  
  .language {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    margin: auto 0;
  }
  
  .languageIcon {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 19px;
    margin: auto 0;
  }
  
  .languageImage {
    aspect-ratio: 1.06;
    object-fit: contain;
    object-position: center;
    width: 19px;
  }
  
  .languageText {
    color: #fff;
    letter-spacing: -0.32px;
    align-self: stretch;
    margin: auto 0;
    font: 400 16px/1 Inter, sans-serif;
  }
  
  .arrow {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    margin: auto 0;
    padding: 4px;
  }
  
  .arrowImage {
    aspect-ratio: 2;
    object-fit: contain;
    object-position: center;
    width: 12px;
  }
  
  .legalLink {
    color: #fff;
    letter-spacing: -0.32px;
    align-self: stretch;
    margin: auto 0;
    font: 400 16px/1 Inter, sans-serif;
    text-decoration: none;
  }
  
  .copyright {
    color: #fff;
    letter-spacing: -0.32px;
    align-self: stretch;
    margin: auto 0;
    font: 400 16px/1 Inter, sans-serif;
  }
  
  .socialIcons {
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: flex-start;
    margin: auto 0;
  }
  
  .socialLink {
    text-decoration: none;
  }
  
  .socialIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 15px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .divider {
    position: absolute;
    z-index: 0;
    min-height: 1px;
    width: 1336px;
    max-width: 100%;
    left: 0;
    bottom: 53px;
    height: 0;
    border: 1px solid #2e4e73;
  }