.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 220px;
}

@media (max-width: 991px) {
  .header {
    padding: 0 20px;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoImage {
  width: 10rem; /* Increase size */
  object-fit: contain;
  object-position: center;
}

/* Nav Menu */
.navMenu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Styling for links */
.navLink {
  color: #372992;  /* Black for nav links */
  font: 500 18px/1 DM Sans, sans-serif;
  text-decoration: none;  /* Remove underline */
  cursor: pointer;
}

.navLink:hover {
  color: #372992;  /* Light grey hover effect */
}





