.sliderControls {
    display: flex;
    gap: 100px;
    margin-top: 60px;
  }
  
  .sliderButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .arrowIcon {
    width: 75px;
    height: 75px;
  }
  
  @media (max-width: 991px) {
    .sliderControls {
      margin-top: 40px;
      gap: 40px; 
    }
  }